{% extends "base_letter_template.html" %}

{% load static %}

{% block title %}Letter_{{ letter.reference_number }}{% endblock %}

{% block letter_metadata %}
  <section class="letter-metadata">
    <div class="metadata-item">
      <p class="metadata-label">
        <span>ቁጥር</span>
        <span>Ref.No.</span>
      </p>
      <div class="metadata-value-container">
        <span class="metadata-value">
          {% if letter.language == "EN" %}
            {% if letter.reference_number %}
              {{ letter.reference_number }}
            {% else %}
              N/A
            {% endif %}
          {% elif letter.language == "AM" %}
            {% if letter.reference_number_am %}
              {{ letter.reference_number_am }}
            {% else %}
              N/A
            {% endif %}
          {% endif %}
        </span>
        <hr class="metadata-divider" />
      </div>
    </div>
    <div class="metadata-item">
      <p class="metadata-label">
        <span>ቀን</span>
        <span>Date</span>
      </p>
      <div class="metadata-value-container">
        <span class="metadata-value">
          {% if letter.published_at %}
            {{ letter.published_at }}
          {% else %}
            N/A
          {% endif %}
        </span>
        <hr class="metadata-divider" />
      </div>
    </div>
  </section>
{% endblock %}

{% block header %}
  <section class="letter-body">
    <p class="letter-subject">
      <span class="subject-label">
        {% if letter.language == "EN" %}
          Subject
        {% elif letter.language == "AM" %}
          ጉዳዩ
        {% endif %}
        :-</span>{{letter.subject}}
    </p>
  </section>
{% endblock %}

{% block separator %} {% endblock %}


{% block authors %}
  <section class="author-participant-section">
    {% if letter.language == "EN" %}
      {% for author in authors %}
        {% if author.user %}
          <p class="author-participant-item">From {{author.user.job_title.title_en}}</p>
          <span class="address">M.I.N.T</span>
        {% elif author.enterprise %}
          <p class="author-participant-item">From {{author.enterprise.name_en}}</p>
          <span class="address">{{participant.enterprise.address.city_en}}</span>
        {% elif author.contact %}
          <p class="author-participant-item">From {{author.contact.full_name_en}}</p>
          <span class="address">{{participant.contact.address.city_en}}</span>
        {% endif %}
      {% endfor %}
    {% elif letter.language == "AM" %}
      {% for author in authors %}
        {% if author.user %}
          <p class="author-participant-item">ከ {{author.user.job_title.title_am}}</p>
          <span class="address">ኢ.ቴ.ሚ</span>
        {% elif author.enterprise %}
          <p class="author-participant-item">ከ {{author.enterprise.name_am}}</p>
          <span class="address">{{participant.enterprise.address.city_am}}</span>
        {% elif author.contact %}
          <p class="author-participant-item">ከ {{author.contact.full_name_am}}</p>
          <span class="address">{{participant.contact.address.city_am}}</span>
        {% endif %}
      {% endfor %}
    {% endif %}
  </section>
{% endblock %}

{% block primary_recipients %}
  <section class="pr-participant-section">
    {% if letter.language == "EN" %}
      {% for participant in primary_recipients %}
        {% if participant.user %}
          <p class="pr-participant-item">To {{participant.user.job_title.title_en}}</p>
          <span class="address">M.I.N.T</span>
        {% elif participant.enterprise %}
          <p class="pr-participant-item">To {{participant.enterprise.name_en}}</p>
          <span class="address">{{participant.enterprise.address.city_en}}</span>
        {% elif participant.contact %}
          <p class="pr-participant-item">To {{participant.contact.full_name_en}}</p>
          <span class="address">{{participant.contact.address.city_en}}</span>
        {% endif %}
      {% endfor %}
    {% elif letter.language == "AM" %}
      {% for participant in primary_recipients %}
        {% if participant.user %}
          <p class="pr-participant-item">ለ {{participant.user.job_title.title_am}}</p>
          <span class="address">ኢ.ቴ.ሚ</span>
        {% elif participant.enterprise %}
          <p class="pr-participant-item">ለ {{participant.enterprise.name_am}}</p>
          <span class="address">{{participant.enterprise.address.city_am}}</span>
        {% elif participant.contact %}
          <p class="pr-participant-item">ለ {{participant.contact.full_name_am}}</p>
          <span class="address">{{participant.contact.address.city_am}}</span>
        {% endif %}
      {% endfor %}
    {% endif %}
  </section>
{% endblock %}


{% block e_signatures %} {% endblock %}

{% block footer %} {% endblock %}
