{% extends "base_letter_template.html" %}

{% load static %}

{% block title %}Letter_{{ letter.reference_number }}{% endblock %}

{% block header %}<header class="internal_letter_header"></header>{% endblock %}

{% block separator %} {% endblock %} {% block letter_metadata %}

{% endblock %} {% block authors %} {% endblock %}

{% block primary_recipients %}
  <section class="pr-participant-section">
    {% if letter.language == "EN" %}
      {% for participant in primary_recipients %}
        {% if participant.user %}
          <p class="pr-participant-item">To {{participant.user.user_profile.job_title.title_en}}</p>
          <span class="address">M.I.N.T</span>
        {% elif participant.enterprise %}
          <p class="pr-participant-item">To {{participant.enterprise.name_en}}</p>
          <span class="address">{{participant.enterprise.address.city_en}}</span>
        {% elif participant.contact %}
          <p class="pr-participant-item">To {{participant.contact.full_name_en}}</p>
          <span class="address">{{participant.contact.address.city_en}}</span>
        {% endif %}
      {% endfor %}
    {% elif letter.language == "AM" %}
      {% for participant in primary_recipients %}
        {% if participant.user %}
          <p class="pr-participant-item">ለ {{participant.user.user_profile.job_title.title_am}}</p>
          <span class="address">ኢ.ቴ.ሚ</span>
        {% elif participant.enterprise %}
          <p class="pr-participant-item">ለ {{participant.enterprise.name_am}}</p>
          <span class="address">{{participant.enterprise.address.city_am}}</span>
        {% elif participant.contact %}
          <p class="pr-participant-item">ለ {{participant.contact.full_name_am}}</p>
          <span class="address">{{participant.contact.address.city_am}}</span>
        {% endif %}
      {% endfor %}
    {% endif %}
  </section>
{% endblock %}

{% block letter_body %}
  <section class="letter-body">
    <p class="letter-subject">
      <span class="subject-label">
        {% if letter.language == "EN" %}
          Subject
        {% elif letter.language == "AM" %}
          ጉዳዩ
        {% endif %}
        :-</span>{{letter.subject}}
    </p>

    <div class="letter-body">{{ letter.body|safe }}</div>
  </section>
{% endblock %}

{% block e_signatures %}
  <section class="e-signatures">
    <span class="closing-phrase">
      {% if letter.language == "EN" %}
        Sincerely,
      {% elif letter.language == "AM" %}
        ከሰላምታ ጋር
      {% endif %}
    </span>
    {% for e_signature in e_signatures %}
      <div class="signature-item">
        <img
          src="{{ base_url }}{{ e_signature.signature_image.url }}"
          alt="{{ e_signature.signer.full_name_en }}'s signature"
          class="signature-image"
        />
        <p class="signer-info">
          {% if letter.language == "EN" %}
            <span>{{ e_signature.signer.user_profile.full_name_en }}</span>
            <span>{{ e_signature.signer.user_profile.job_title.title_en }}</span>
          {% elif letter.language == "AM" %}
            <span>{{ e_signature.signer.full_name_am }}</span>
            <span>{{ e_signature.signer.job_title.title_am }}</span>
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </section>
{% endblock %}

{% block footer %} {% endblock %}
