{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
  <head>
    {% tailwind_css %}
    <title>{{letter.reference_number}}</title>
  </head>
  <body>
    <header class="flex flex-col gap-2 items-center">
      <div class="flex items-center justify-center">
        <img
          src="{% static 'images/pentagram.png' %}"
          alt="Ethiopian flag pentagon star symbol"
          width="100"
          height="80"
        />

        <div class="mx-5">
          <div className="flex flex-col font-semibold items-center">
            <p class="text-center font-semibold text-xl">
              በኢትዮጵያ ፌደራላዊ ዲሞክራሲያዊ ሪፐብሊክ
            </p>
            <p class="text-center font-semibold text-xl">የኢኖቬሽንና ቴከኖሎጂ ሚኒስቴር</p>
          </div>
          <div className="flex flex-col">
            <p class="text-center text-lg">
              The Federal Democratic Republic of Ethiopia
            </p>
            <p class="text-center text-lg">
              Minister of Innovation and Technology
            </p>
          </div>
        </div>

        <img
          src="{% static 'images/mint.png' %}"
          alt="Ethiopian flag pentagon star symbol"
          width="160"
          height="80"
        />
      </div>
      <hr class="border-[1px] border-black w-full" />
    </header>

    <main>
      <div class="mt-5 mb-10 flex flex-col">
        <div class="flex self-end w-48">
          <p>
            <span class="block">ቁጥር</span>
            <span>Ref.No.</span>
          </p>
          <hr class="w-full border-px mb-[7px] border-black self-end" />
        </div>
        <div class="flex self-end w-48">
          <p>
            <span class="block">ቀን</span>
            <span>Date</span>
          </p>
          <hr class="w-full border-px mb-[7px] border-black self-end" />
        </div>
      </div>

      <div>
        {% for participant in primary_recipients %}
        <p>ለ {{participant.user.full_name}} ({{participant.user.job_title}})</p>
        {% empty %} {% endfor %}
      </div>

      <p class="text-center my-2 text-black text-base">
        <span class="mr-1">ጉዳዩ:-</span>{{letter.subject}}
      </p>

      <div>{{ letter.content|safe }}</div>

      {% if cc_participants %}
      <div class="py-3">
        <p>ግልባጭ:-</p>
        <ul class="ml-10 list-disc">
          {% for participant in cc_participants %}
          <li>
            ለ {{ participant.user.full_name }} ({{ participant.user.job_title}})
          </li>
          {% endfor %}
        </ul>
      </div>

      {% endif %} {% if bcc_participants %}
      <div class="py-3">
        <p>እንዲያውቁት:-</p>
        <ul class="ml-10 list-disc">
          {% for participant in bcc_participants %}
          <li>
            ለ {{ participant.user.full_name }} ({{ participant.user.job_title}})
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </main>

    <hr class="mt-auto mb-2 border-[1px] border-black w-full" />

    <footer class="flex items-center justify-between">
      <div class="flex flex-1 flex-col gap-1">
        <div class="flex gap-1 text-xs font-medium items-center">
          <img
            src="{% static 'icons/laptop.svg' %}"
            alt="Ethiopian flag pentagon star symbol"
            width="15"
            height="15"
          />
          <p>WWW.MINT.gov.et</p>
        </div>
        <div class="flex gap-1 text-xs font-medium items-center">
          <img
            src="{% static 'icons/phone.svg' %}"
            alt="Ethiopian flag pentagon star symbol"
            width="15"
            height="15"
          />
          <p>+251111264994</p>
        </div>
        <div class="flex gap-1 text-xs font-medium items-center">
          <img
            src="{% static 'icons/square-pen.svg' %}"
            alt="Ethiopian flag pentagon star symbol"
            width="15"
            height="15"
          />
          <p>mint @ethionet.et</p>
        </div>
        <div class="flex gap-1 text-xs font-medium items-center">
          <img
            src="{% static 'icons/mail.svg' %}"
            alt="Ethiopian flag pentagon star symbol"
            width="15"
            height="15"
          />
          <p>2490</p>
        </div>
        <div class="flex gap-1 text-xs font-medium items-center">
          <img
            src="{% static 'icons/map-pin.svg' %}"
            alt="Ethiopian flag pentagon star symbol"
            width="15"
            height="15"
          />
          <p>Addis Ababa Ethiopia</p>
        </div>
      </div>

      <div class="flex w-fit flex-col items-center">
        <h2 class="text-center text-2xl font-bold text-black tracking-wid">
          ከእርምጃ ወደ ሩጫ
        </h2>
        <h2 class="text-center text-xl font-medium">
          From Faciltator to Main Actor
        </h2>
      </div>

      <div class="flex-1">
        <img
          src="{% static 'images/qr_code.png' %}"
          alt="Ethiopian flag pentagon star symbol"
          width="100"
          height="100"
          class="ml-auto"
        />
      </div>
    </footer>
  </body>
</html>
