{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Letter</title>
    {% tailwind_css %}
  </head>
  <body>
    <header>
      <h1>HEADER</h1>
    </header>

    <main class="my-5">
      <p>Lorem</p>
    </main>

    <footer class="absolute h-[110px] left-0 right-0 bottom-0 bg-slate-900/50">
      <p>FOOTER</p>
    </footer>
    div
  </body>
</html>
